.header {
background-color: #99aaaf;
border-radius: 15px;
border: black;


}

h1 {
padding: 5px;
align: center;

}

hr {
width: ;

}

audio {
    filter:opacity(20%);
    width: 100%;
    height: 20px;
    padding: 5px;
    padding-right: 20px;
}